<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>后台编辑</title>
<script type="text/javascript" charset="utf-8" th:src="@{../../ueditor/ueditor.config.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{../../ueditor/zh-cn.js}"></script>
	<!--<script type="text/javascript" th:src="@{../../ueditor/third-party/SyntaxHighlighter/shCore.js}"></script>
	<link rel="stylesheet" th:href="@{../../ueditor/third-party/SyntaxHighlighter/shCoreDefault.css}" type="text/css" />
	<script>
        SyntaxHighlighter.all() //执行代码高亮
	</script>-->
</head>
<body>
	<h1>T123123123123123ITLT</h1>
</body>
</html>